@import '~src/assets/styles/_mixins.scss';
@import '~src/assets/styles/_variables.scss';

.question-wrapper {
	padding: 5%;
	width: 70vw;
	background-color: $color-white;
	min-width: 300px;
}

h4 {
  @extend %headline-h4;
  padding-bottom: 50px;
  text-align: center;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;

  &.ng-touched {
	  border: 1px solid $color-orange;
  }
}

form {
  display: flex;
  box-sizing: border-box;

  .question-column {
    padding: 0 20px;
    flex-basis: 50%;
  }

  .form-group {
    padding: 10px 0;
  }
}

.submit-btn {
  @extend %btn-submit-style;
}

.warning {
  color: $color-orange;
}
