@import '~src/assets/styles/_variables.scss';
@import '~src/assets/styles/_mixins.scss';

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color #fff ease-out";
  -webkit-transition-delay: 9999s;
}

.overlay {
  @extend %overlay;
}

.login-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo-holder {
  max-width: 40%;
  margin: 0 auto 50px;
}

.form-holder {
  max-width: 400px;
  padding: 100px 50px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  color: $color-black;

  .form-input {
    @extend %input-style;
    width: 90%;
    border: none;
  }

  .form-group {
    margin-top: 20px;
    font-size: 1.2rem;
  }

  .btn-holder {
    width: 90%;
	overflow: hidden;
	margin: 0 auto;
  }

  button {
    position: relative;
    @extend %btn-submit-style;

//     &:after {
//       opacity: 0;
//       position: absolute;
//       top: 0;
//       right: 0;
//       width: 100%;
//       height: 100%;
//       border-radius: 5px;
//       background-color: black;
//       -webkit-transform: translateX(100%);
//       content: 'SUBMIT';
//       line-height: 33px;
//       transition: all .3s ease-in-out;
//     }

//     &:hover {
//       &:after {
//         transform: translateX(0%);
//         opacity: 1;
//       }
//     }
  }
}

// .slide-in {
//   animation: slide-in .2s forwards;
//   -webkit-animation: slide-in 0.2s forwards;
// }

// .slide-out {
//   animation: slide-out 0.2s forwards;
//   -webkit-animation: slide-out 0.2s forwards;
// }

// @keyframes slide-in {
//   100% {
//     transform: translateX(0%);
//   }
// }

// @keyframes slide-out {
//   0% {
//     transform: translateX(0%);
//   }

//   100% {
//     transform: translateX(-100%);
//   }
// }

.form-input.ng-touched.ng-invalid {
  border: 1px solid $color-orange;
}

.help-block {
  @extend %help-block-warning;
}
