<div class="login-container">
  <div class="login-form-wrapper">
    <div class="form-holder">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <label for="username">E-mail:</label><br>
          <input type="username" name="username" class="form-input" id="username" ngModel email required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label><br>
          <input type="password" name="password" class="form-input" id="password" ngModel password required>
        </div>
        <div class="form-group">
			<span *ngIf="!loginForm.valid && loginForm.touched" class="help-block">Please enter valid data!</span>
          <button type="submit" style="cursor: pointer">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
