@import '~src/assets/styles/_variables.scss';
@import '~src/assets/styles/_mixins.scss';


svg {
  position: absolute;
  top: 5px;
  right: -15px;
  fill: $color-black;
  height: 10px;
  transform: translateX(0);
  transition: all .3s ease;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  width: 70vw;
  padding: 0 100px;
}

.hero-content {
  position: relative;
}

.filter-wrapper {
  display: flex;
  justify-content: space-between;
}

.filter-main-h {
  @extend %headline-h3;
  text-align: center;
}

.statistics-h {
	@extend %headline-h4;
	margin-top: 20px;
	text-align: center;
}

.separator {
  @extend %separator-style;
  bottom: 0;
}

.headline-holder {
  position: relative;
  padding: 50px;
}

.filter-h {
  @extend %headline-h5;
  position: relative;
  cursor: pointer;
  transition: color .2s ease;

  &:hover {
    color: $color-orange;
  }
}

.filter-holder {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.filter-menu-holder {
  position: relative;
}

.filter-menu {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  padding-left: 0;
  list-style-type: none;
  background-color: rgba(255, 255, 255, 1);
}

.filter-menu-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: all .3s ease;

  &:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    color: $color-orange;
  }
}

.hidden {
  opacity: 0;
}

.showed {
  opacity: 1;
}

.orange {
  color: $color-orange;
}


/****** main view ******/

.main-view-holder {
  margin-top: 50px;
}

.main-view {
  list-style-type: decimal;
  padding-left: 0;
  list-style-position: inside;

  .main-view-item {
    padding: 5px 0;
    font-weight: 500;
    font-size: 1.1rem;
    cursor: pointer;
    transition: color .3s ease;

    &:hover {
      color: $color-orange;
    }

    &.test {
      cursor: text;

      &:hover {
        color: initial;
      }
    }
  }
}


.pagination-holder {
  text-align: center;
  color: black;
}
