@import '~src/assets/styles/_variables.scss';
@import '~src/assets/styles/_mixins.scss';

.container {
	min-height: 100vh;
	width: calc(100vw - 300px);
	padding: 100px;
}

#test-form {
	margin-top: 50px;
}

.invert {
	@extend %headline-h4;
	text-align: center;
}

.btn {
	@extend %btn-submit-style;
	max-width: 200px;
}