@import '~src/assets/styles/_variables.scss';
@import '~src/assets/styles/_mixins.scss';

main {
  display: flex;
  width: 100vw;
}

@import '~src/assets/styles/_variables.scss';

.home-profile-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: $profile-width;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  color: $color-white;
}

.home-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 300px);

  .header-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 80px;
    padding: 20px;
    color: $color-orange;
    z-index: 1000;
  }

  .actions-wrapper {
    display: flex;
    position: relative;
    align-items: center;
	justify-content: center;
	width: 100%;
    height: 100%;
    padding-top: 80px;
  }

  .overlay {
    @extend %overlay;
  }
}
