<div class="container">
  <div class="hero-content" *ngIf="!userChosen">
    <div class='headline-holder'>
      <h3 class="filter-main-h invert">Filter by: <span class="orange">{{filteredBy}}</span></h3>
      <div *ngIf="statistics" class="statistics">
        <h4 class="statistics-h" *ngIf="statistics">Passed: {{statistics.percentage}}%, average points:
          {{statistics.points}}</h4>
      </div>
      <div class="separator-holder">
        <span class="separator"></span>
      </div>
    </div>
    <div class="filter-wrapper">
      <div class="filter-holder" (click)="getAllUsers($event)">
        <h5 class="filter-h">Users</h5>
      </div>

      <div class="filter-holder" (mouseover)="onElementHover($event, 'difficulty')" (mouseleave)="onElementUnhover($event, 'difficulty')">
        <div class="filter-menu-holder">
          <h5 class="filter-h">Difficulty
            <svg viewBox="0 0 492.004 492.004">
              <g>
                <path d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12
										  c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028
										  c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265
										  c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z" />
              </g>
            </svg>
          </h5>
          <ul class="filter-menu difficulty" [ngClass]="{'showed': dropdownsShowed.difficultyDropdown, 'hidden': !dropdownsShowed.difficultyDropdown}">
            <li class="filter-menu-item" *ngFor="let difficulty of difficulties" (click)="onItemSelected($event, 'difficulty', difficulty)">{{difficulty}}</li>
          </ul>
        </div>
      </div>

      <div class="filter-holder" (mouseover)="onElementHover($event, 'category')" (mouseleave)="onElementUnhover($event, 'category')">
        <div class="filter-menu-holder">
          <h5 class="filter-h">Category
            <svg viewBox="0 0 492.004 492.004">
              <g>
                <path d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12
													c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028
													c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265
													c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z" />
              </g>
            </svg>
          </h5>
          <ul class="filter-menu category" [ngClass]="{'showed': dropdownsShowed.categoryDropdown, 'hidden': !dropdownsShowed.categoryDropdown}">
            <li class="filter-menu-item" *ngFor="let category of categories" (click)="onItemSelected($event, 'category', category)">{{category}}</li>
          </ul>
        </div>
      </div>

      <div class="filter-holder" (mouseover)="onElementHover($event, 'status')" (mouseleave)="onElementUnhover($event, 'status')">
        <div class="filter-menu-holder">
          <h5 class="filter-h">Status
            <svg viewBox="0 0 492.004 492.004">
              <g>
                <path d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12
													c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028
													c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265
													c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z" />
              </g>
            </svg>
          </h5>
          <ul class="filter-menu status" [ngClass]="{'showed': dropdownsShowed.statusDropdown, 'hidden': !dropdownsShowed.statusDropdown}">
            <li class="filter-menu-item" *ngFor="let status of statuses" (click)="onItemSelected($event, 'status', status)">{{status}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="userChosen">
    <app-single-user [user]="selectedUser"></app-single-user>
  </div>

  <div class="main-view-holder" *ngIf="!userChosen">
    <div class="main-view-wrapper" *ngIf="selectedView === 'users'">
      <div class="pagination-container">
        <div class="items-holder">
          <ol *ngIf="!userChosen" class="main-view">
            <li *ngFor="let user of currentUsers" (click)="onUserSelect(user)" class="main-view-item">{{user.name}}
              {{user.surname}}</li>
          </ol>
        </div>
        <div class="paginator-holder">
          <ul *ngIf="pager.totalItems &&  pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="setPage(1)">First</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="setPage(pager.currentPage - 1)">Previous</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
			  <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="setPage(pager.currentPage + 1)">Next</a>
            </li>
            <li  [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="setPage(pager.endPage)">Last</a>
            </li>
		  </ul>
			<h3 *ngIf="!pager.totalPages">There are currently no users.</h3>
        </div>
      </div>
    </div>

    <div class="main-view-wrapper" *ngIf="selectedView === 'tests'">
        <div class="pagination-container">
          <div class="items-holder">
            <ul class="main-view">
              <li *ngFor="let test of currentTests" class="main-view-item test">{{test.user.name}}
                {{test.user.surname}}, {{test.date | date}}.
                - <span class="orange">{{test.result}}</span> points
              </li>
            </ul>
          </div>
          <div class="paginator-holder">
            <ul *ngIf="pager.totalItems && pager.pages.length" class="pagination">
              <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(1)">First</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(pager.currentPage - 1)">Previous</a>
              </li>
              <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
				<a (click)="setPage(page)">{{page}}</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages - 1}">
                <a (click)="setPage(pager.currentPage + 1)">Next</a>
              </li>
              <li  [ngClass]="{disabled:pager.currentPage === pager.totalPages - 1}">
                <a (click)="setPage(pager.endPage)">Last</a>
              </li>
			</ul>
			<h3 *ngIf="!pager.totalPages">There are currently no available tests.</h3>
          </div>
        </div>
    </div>
  </div>

</div>
