<div [formGroup]='questionForm'>
  <div class="answer-holder">
    <div formArrayName="answers" *ngFor="let item of questionForm.get('answers').controls; let i=index" id="answers-wrapper">
      <div [formGroupName]="i">
        <div class="form-group">
          <label>
            Answer {{i}}:
            <div class="single-answer-holder">
              <input formControlName="answer" />
              <input type="checkbox" formControlName="value" appTrueFalse trueValue="yes" falseValue="no" class="answer-checkbox">
            </div>
          </label>
        </div>
      </div>
      <button type="button" class="btn add" (click)="addAnswer(i)">Add</button>
      <button type="button" class="btn remove" (click)="deleteAnswer(i)">Delete</button>
    </div>
	<span *ngIf="questionForm.errors?.checkboxValid && questionForm.get('answers').touched" class="warning">Please select true answer!</span>
  </div>
</div>
