<div *ngIf="!editing">
  <div class="profile-container">
    <div class="profile-img-wrapper">
      <div class="profile-img-holder">
        <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="profile-picture">
      </div>
    </div>
    <div class="profile-info-wrapper">
      <div class="profile-info-holder">
        <h3>{{user.name}} {{user.surname}}</h3>
        <p>{{user.username}}</p>
        <p>{{user.phone}}</p>
      </div>
    </div>
    <button (click)="allowEditProfile()" class="edit-profile">Edit Profile</button>
  </div>
</div>

<div *ngIf="editing">
  <app-edit-profile (editing)="editingProfile($event)"></app-edit-profile>
</div>
