<div [formGroup]='questionForm'>
  <div class="answer-holder">
    <div formArrayName="answers" *ngFor="let item of questionForm.get('answers').controls; let i=index" id="answers-wrapper">
      <div [formGroupName]="i">
        <div class="form-group">
          <label>
            Answer {{i}}:
            <div class="single-answer-holder">
              <input formControlName="answer" />
              <input type="number" formControlName="value" class="answer-order" id="answer-order">
            </div>
          </label>
        </div>
        <button class="btn add" type="button" (click)="addAnswer(i)">Add</button>
        <button class="btn remove" type="button" (click)="deleteAnswer(i)">Delete</button>
      </div>
    </div>
   </div>
</div>
