@import '~src/assets/styles/_mixins.scss';

.answer-holder {
  .single-answer-holder {
    display: flex;
    align-items: center;
  }

  input {
    @extend %input-style;
  }
}

.form-group {
	padding: 10px 0;
}

#answer-order {
	flex-basis: 20%;
}

.btn {
	&.add {
	  @extend %btn-submit-style;
	  width: 15%;
	  margin-right: 10px;
	  margin-top: 0;
	}
  
	&.remove {
	  @extend %btn-cancel-inverted;
	  width: 15%;
	  padding: 10px;
	  border-radius: 5px;
	  text-transform: uppercase;
	}
  }