@import '~src/assets/styles/_variables.scss';
@import '~src/assets/styles/_mixins.scss';

ul,
ol {
  list-style-type: none;
  padding: 0 20px;
}

.headline-holder {
  margin-top: 50px;
  position: relative;
  text-align: center;
}

.main-h {
  @extend %headline-h3;
}

.separator {
  @extend %separator-style;
  bottom: -30px;
}

.main-user-info-holder {
  display: flex;
  margin-top: 50px;
}

.test-types {
  margin-right: 50px;
}

.type-holder {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

  &:last-child {
    border-bottom: none;
  }
}

.filter-h {
  @extend %headline-h5;
  margin: 0;
  transition: all .2s ease;

  &.all {
	  transition: all .2s ease;
	  cursor: pointer;

	  &:hover {
		  color: $color-orange;
	  }
  }
}

.type-item {
  padding: 5px 0;
  cursor: pointer;
  transition: all .3s ease;

  &:hover {
    color: $color-orange;
  }
}

.orange {
  color: $color-orange;
}

.tests-holder {
  width: 90%;
}

.test-list-ul {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  padding: 10px;

  li {
	padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
}
