@import '~src/assets/styles/_variables.scss';
@import '~src/assets/styles/_mixins.scss';

ul,
ol {
  list-style-type: none;
  padding: 0 20px;
}

.single-user-holder {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10px 0;
}

p {
  flex: 1 1 80%;
}

.main-dropdown {
  padding-left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: $color-white;

  li {
    width: 100%;
  }
}

.dropdown-holder {
  flex: 1 1 20%;
}

.btn {
  width: 100%;
  padding: 10px;
  outline: none;
  color: $color-white;
  cursor: pointer;
  border: none;
  transition: all .3s ease;

  &.invert {
    @extend %btn-cancel-inverted;

    &:hover {
      @extend %btn-cancel;
    }
  }
}

.main-types-holder,
.type-item {
  cursor: pointer;
}

.main-types-holder {
  display: flex;
  justify-content: space-between;
  transition: color .3s ease;
  flex-wrap: wrap;

  &:hover {
    color: $color-orange;

    &:hover {
      svg {
        transform: translateX(5px);
        fill: $color-orange;
      }
    }
  }
}

.type-item {
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: $color-white;
  transition: color .3s ease;

  &:last-child {
    border-bottom: 1px solid transparent;
  }

  &:first-child {
    padding-top: 0;
  }

  &:hover {
    color: $color-orange;

    &:last-child {
      border-bottom: 1px solid transparent;
    }
  }
}

.hidden {
  opacity: 0;
}

.showed {
  opacity: 1;
}

.optional {
  margin-top: 5px;
  padding: 15px 0;
}

.svg-holder {
  position: relative;
}

svg {
  position: absolute;
  top: 5px;
  right: -15px;
  fill: $color-white;
  height: 10px;
  transform: translateX(0);
  transition: all .3s ease;
}

.active {
  color: $color-orange;
}

.test-ul {
  list-style-type: decimal;

  a {
    cursor: pointer;
  }
}

.test-list-holder {
  display: flex;

  .list-of-tests {
    flex-basis: 30%;
  }

  .test-holder {
    flex-basis: 70%;
  }
}

.test-date {
	cursor: pointer;
	transition: color .3s ease;

	&:hover {
		color: $color-orange;
	}
}