<p>
  edit-profile works!
</p>
<!-- <section ng-switch on="(editIndex == $index)" ng-repeat="person in employeeArray track by $index" class="clearfix">
  <div class="img-wrapper clearfix">
    <img ng-src="{{person.imgSrc}}">
  </div>
  <div class="info-wrapper clearfix"> -->
    <!-- Default Information -->
    <!-- <h3 ng-switch-default>{{person.firstName}} {{person.lastName}} <span>| {{person.jobTitle}}</span>
    </h3>

    <p ng-switch-default class="p-desc">{{person.jobDesc}}</p>
    <span ng-switch-default class="from">From: {{person.from.city}}, {{person.from.state}}</span> <span
      ng-switch-default class="phone">Phone: {{person.phone}}</span> <span ng-switch-default class="email">Email:
      {{person.email}}</span> -->
    <!-- Edit Fields -->
    <!-- <h3 ng-switch-when="true">
      <input ng-model="editObject.firstName" placeholder="First Name" type="text" />
      <input ng-model="editObject.lastName" placeholder="Last Name" type="text" />
      <input ng-model="editObject.jobTitle" placeholder="Job Title" type="text" />
    </h3>
    </span>
    <span ng-switch-when="true" class="phone">
      <input ng-model="editObject.phone" type="text" placeholder="Phone" />
    </span>
    <span ng-switch-when="true" class="email">
      <input ng-model="editObject.email" type="text" placeholder="Email" />
    </span>

  </div>
  <div class="edit-wrapper clearfix">

     Default Buttons -->
    <!-- <button class="yellow" ng-switch-default ng-click="editingPerson($index)">edit</button> -->
    <!-- <button class="red" ng-switch-default>trash</button>-->
    <!--More functionality going to be added later-->

    <!--Buttons for editing -->
    <!-- <button class="green" ng-switch-when="true" ng-click="saveEdit($index)">save</button> -->
    <!-- <button class="red" ng-switch-when="true" ng-click="cancelEdit()">X</button> -->
  <!-- </div> -->

<!-- </section> --> 
