@import '~src/assets/styles/_mixins.scss';

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color #fff ease-out";
  -webkit-transition-delay: 9999s;
}

.form-group {
  @extend %form-group-style;
}

input {
  padding: 10px;
  margin-top: 10px;
  outline: none;
  border: none;
}

.btn {
  @extend %btn-submit-style;
  width: 65%;

  &.cancel {
    @extend %btn-cancel;
  }

  &.submit {
	&:hover {
		@extend %btn-cancel-inverted;
		background-color: $color-white;
	}
  }
}
