<p>
  edit-profile works!
</p>
<div>
  <!-- <input #inlineEditControl [required]="required" [name]="username" [(ngModel)]="username" [type]="type" [placeholder]="username" />
  <input #inlineEditControl [required]="required" [name]="name" [(ngModel)]="name" [type]="type" [placeholder]="name" /> -->
  <!-- <input #inlineEditControl [required]="required" [name]="value" [(ngModel)]="value" [type]="type"
    [placeholder]="label" />
  <input #inlineEditControl [required]="required" [name]="value" [(ngModel)]="value" [type]="type"
	[placeholder]="label" /> -->
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <label for="username">Username:</label>
    <input type="text" class="form-control" name="username" ngModel required />
    <!-- [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" -->
    <div>
      <button type="submit" [disabled]="!editProfileForm.valid && editProfileForm.touched">Submit new profile</button>
    </div>
  </form>
</div>

username: string;
name?: string;
surname?: string;
password: string;
id?: number;
admin?: number;
phone?: number;
