@import '~src/assets/styles/_variables.scss';

.header-ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;

  li {
    padding: 10px;
    cursor: pointer;
  }
}

.router-link-active {
  color: $color-orange;
  z-index: 1000;
}
