@import '~src/assets/styles/_mixins.scss';

.answer-holder {
	@extend %answer-style;

	.form-group {
		padding: 10px 0;
	}
}

.btn {
	&.add {
	  @extend %btn-submit-style;
	  width: 15%;
	  margin-top: 0;
	  margin-right: 10px;
	}
  
	&.remove {
	  @extend %btn-cancel-inverted;
	  width: 15%;
	  padding: 10px;
	  border-radius: 5px;
	  text-transform: uppercase;
	}
  }