@import '~src/assets/styles/_variables.scss';
@import '~src/assets/styles/_mixins.scss';

.test-type-inner-wrapper {
  padding: 50px 100px;
}

h3 {
  @extend %headline-h3;
  margin: 50px 0;
  text-align: center;
}

h4 {
  @extend %headline-h4;
  transition: color .3s ease;
}

.test-type-inner-holder {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.test-type {
  flex: 1 1 100%;
  padding: 0 10px;
}

button {
  @extend %btn-submit-style;
  width: 70%;
  font-size: .9rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.checkbox-holder {
  display: flex;
  flex-direction: column;
}

.checkbox-inner-holder {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

label {
  margin-left: 10px;
}

.checkbox-indent {
  padding-left: 30px;
  margin-top: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all .4s;
}

.combo-holder {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.combo {
  display: flex;

  &.combo>.checkbox-holder:last-child {
    padding-left: 30px;
  }
}

.test-select-h {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;

  &:hover {
    .arrow-holder>.arrow {
      background-color: $color-orange;
    }

    h4 {
      color: $color-orange;
    }
  }
}

.arrow-holder {
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 10px;

  .arrow {
    top: calc(50% - 8px);
    width: 5px;
    height: 16px;
    background-color: $color-grey-light;
    transition: background-color .3s ease;

    &.right {
      position: absolute;
      right: 7px;
      left: calc(50% - 8px);
      transform: rotate(-45deg)
    }

    &.left {
      display: inline-block;
      position: absolute;
      right: 15px;
      transform: rotate(45deg)
    }
  }
}
