@import '~src/assets/styles/_variables.scss';
@import '~src/assets/styles/_mixins.scss';

.test-type-inner-wrapper {
  position: relative;
}

.headline-holder {
  position: relative;
}

h3 {
  @extend %headline-h3;
  padding-bottom: 50px;
  text-align: center;
}

.separator {
  content: '';
  position: absolute;
  bottom: 10%;
  left: calc(50% - 25px);
  height: 5px;
  width: 50px;
  background-color: $color-orange;
}

h4 {
  @extend %headline-h4;
  transition: color .3s ease;
}

.test-type-inner-holder {
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
}

.test-type {
  flex: 1 1 100%;
  padding: 0 10px;
}

button {
  @extend %btn-submit-style;
  width: 70%;
  font-size: .9rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.checkbox-holder {
  display: flex;
  flex-direction: column;
}

.checkbox-inner-holder {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

label {
  margin-left: 10px;
}

.checkbox-indent {
  margin-top: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all .4s;
}

.combo-holder {
  display: flex;
  flex-direction: column;
}

.combo {
  display: flex;

  &.combo>.checkbox-holder:last-child {
    padding-left: 30px;
  }
}

.test-select-h {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;

  &:hover {
    .arrow-holder>.arrow {
      background-color: $color-orange;
    }

    h4 {
      color: $color-orange;
    }
  }
}

.arrow-holder {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  right: 5px;

  .arrow {
    position: absolute;
    width: 5px;
    height: 16px;
    top: 5px;
    background-color: $color-grey-light;
    transition: background-color .3s ease;

    &.right {
      right: 13px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &.left {
      left: 13px;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg)
    }
  }
}
