<div class="test-type-inner-wrapper">
  <div class="headline-holder">
    <h3 class="invert">Select the type of test you want to take:</h3>
    <span class="separator"></span>
  </div>
  <div class="test-type-inner-holder">
    <div class="test-type difficulty">
      <div class="test-select-h" (click)="onTypeSelect('difficulty')">
        <h4 class="grey test-select">Difficulty</h4>
        <span class="arrow-holder">
          <span class="arrow left"></span>
          <span class="arrow right"></span>
        </span>
      </div>
      <div [@slideInOut]="animationStateDifficulty" class="checkbox-indent">
        <form (ngSubmit)="onGenerateDiffTest(fDiff)" #fDiff="ngForm">
          <div class="checkbox-holder">
            <div class="checkbox-inner-holder">
              <input ngModel type="checkbox" id="easy" ng-checked value="Easy" name="easy">
              <label for="easy">Easy</label>
            </div>
            <div class="checkbox-inner-holder">
              <input ngModel type="checkbox" id="medium" ng-checked value="Medium" name="medium">
              <label for="medium">Medium</label>
            </div>
            <div class="checkbox-inner-holder">
              <input ngModel type="checkbox" id="difficult" ng-checked value="Difficult" name="difficult">
              <label for="difficult">Difficult</label>
			</div>
            <div class="generate-holder">
              <button (submit)="onGenerateDiffTest()" class="flat">Generate Test</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="test-type category">
      <div class="test-select-h" (click)="onTypeSelect('category')">
        <h4 class="grey test-select">Category</h4>
        <span class="arrow-holder">
          <span class="arrow left"></span>
          <span class="arrow right"></span>
        </span>
      </div>
      <div [@slideInOut]="animationStateCategory" class="checkbox-indent">
        <form (ngSubmit)="onGenerateCatTest(fCat)" #fCat="ngForm">
          <div class="checkbox-holder">
            <div class="checkbox-inner-holder">
              <input ngModel type="checkbox" id="javascript" value="Javascript" name="javascript">
              <label for="javascript">JavaScipt</label>
            </div>
            <div class="checkbox-inner-holder">
              <input ngModel type="checkbox" id="java" value="Java" name="java">
              <label for="Java">Java</label>
            </div>
            <div class="checkbox-inner-holder">
              <input ngModel type="checkbox" id="php" value="PHP" name="php">
              <label for="php">PHP</label>
            </div>
            <div class="generate-holder">
              <button (submit)="onGenerateCatTest()" class="flat">Generate Test</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="test-type difficulty-category">
      <div class="test-select-h" (click)="onTypeSelect('difficulty-category')">
        <h4 class="grey test-select">Difficulty & Category</h4>
        <span class="arrow-holder">
          <span class="arrow left"></span>
          <span class="arrow right"></span>
        </span>
      </div>
      <div [@slideInOut]="animationStateDifficultyCategory" class="checkbox-indent">
        <form (ngSubmit)="onGenerateDiffCatTest(fDiffCat)" #fDiffCat="ngForm">
          <div class="combo-holder">
            <div class="combo">
              <div class="checkbox-holder" ngModelGroup="diff">
                <div class="checkbox-inner-holder">
                  <input ngModel type="checkbox" id="easyID" value="Easy" name="easy">
                  <label for="easyID">Easy</label>
                </div>
                <div class="checkbox-inner-holder">
                  <input ngModel type="checkbox" id="mediumID" value="Medium" name="medium">
                  <label for="medium">Medium</label>
                </div>
                <div class="checkbox-inner-holder">
                  <input ngModel type="checkbox" id="difficultID" value="Difficult" name="difficult">
                  <label for="difficult">Difficult</label>
                </div>
              </div>
              <div class="checkbox-holder" ngModelGroup="cat">
                <div class="checkbox-inner-holder">
                  <input ngModel type="checkbox" id="javascriptID" value="Javascript" name="javascript">
                  <label for="javascriptID">JavaScript</label>
                </div>
                <div class="checkbox-inner-holder">
                  <input ngModel type="checkbox" id="javaID" value="Java" name="java">
                  <label for="javaID">Java</label>
                </div>
                <div class="checkbox-inner-holder">
                  <input ngModel type="checkbox" id="phpID" value="Php" name="php">
                  <label for="phpID">PHP</label>
                </div>
              </div>
            </div>
            <div class="generate-holder">
              <button (submit)="onGenerateDiffCatTest()" class="flat">Generate Test</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
