@import '~src/assets/styles/_variables.scss';
@import '~src/assets/styles/_mixins.scss';

.question-h {
  @extend %headline-h5;
}

.single-question-container {
  display: flex;
}

ol,
ul {
  flex: 50%;
}

ul {
  list-style-type: none;
}

input {
	max-width: 40px;
	margin-right: 15px;
}

.drop-placeholder {
	min-width: 10%;
	width: 40px
}

li {
	@extend %drag-n-drop;
	width: 100%;
}

.draggable-ol {
	list-style-type: lower-latin;
}

.drag-in {
	padding: 30px;
}

h3 {
	margin-bottom: 20px;
}