<div class="container">
  <h5 class="question-h">{{question.question}}</h5>
  <div [formGroup]="testForm" class="single-question-container">
    <ol>
      <h3>Pair with:</h3>
      <li *ngFor="let singleAnswer of answersLeft">{{singleAnswer.answer}}</li>
    </ol>
    <ol class="drop-placeholder drop-container">
      <h3>Drag to:</h3>
      <cdk-drop #dropZone1 [connectedTo]="[dropZone2]" (dropped)="addToList($event)" [data]="draggedAnswers">
        <li class="drag-in" *ngFor="let item of draggedAnswers" cdkDrag>
          {{item.answer}}
        </li>
      </cdk-drop>
    </ol>
    <ol class="draggable-ol">
      <h3>Drag from:</h3>
      <cdk-drop #dropZone2 [connectedTo]="[dropZone1]" [data]="answersRight">
        <li *ngFor="let singleAnswer of answersRight" cdkDrag>
          {{singleAnswer.answer}}
        </li>
      </cdk-drop>
    </ol>
  </div>
</div>
