@import '~src/assets/styles/_variables.scss';
@import '~src/assets/styles/_mixins.scss';

ul {
  list-style-type: none;
  margin: 20px 0;
}

.container {
  width: 80vw;
}

.tests-holder {
  display: flex;
  margin-top: 50px;
}

.answer {
  margin-left: 20px;
}

.question {
  font-weight: 500;
}

.status-handler {
  text-align: center;
}

.tests {
  flex-basis: 30%;
}

.test {
  margin-top: 20px;
  flex-basis: 70%;
}

.test-date {
  cursor: pointer;
  transition: color .3s ease;

  &:hover {
    color: $color-orange;
  }
}


svg {
  fill: $color-white;
  height: 10px;
  margin-right: 5px;
  transform: translateX(-5px);
  transition: all .3s ease;
}

.btn {
	white-space: nowrap;
    overflow: hidden;
  &.passed {
    @extend %btn-submit-style;
    width: 15%;
    max-width: 40%;
    margin-right: 10px;
    margin-top: 0;
  }

  &.failed {
    @extend %btn-cancel-inverted;
    width: 15%;
    max-width: 40%;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
  }

  &:hover {
    svg {
      transform: translateX(3px);

      &.minus {
        fill: black;
      }
    }
  }
}

.date-list {
	padding: 10px 0;
}