<div class="container">
  <div class="status-handler">
    <button class="btn passed" (click)="onTestStatusSelect($event, 1)">Passed</button>
    <button class="btn failed" (click)="onTestStatusSelect($event, 0)">Failed</button>
  </div>
  <div class="tests-holder">
    <div class="tests">
      <h4 class="invert">Filter the '{{viewTests}}' tests from the list:</h4>
      <ol>
        <li *ngFor="let test of testList;let i = index;" (click)="onSingleTestSelected($event, test)">
          <a class="test-date">{{test.date}}</a>
        </li>
      </ol>
    </div>
    <div class="test">
		<ul *ngFor="let question of questionsValid; let i = index;" [style.color]="'green'">
			<li class="question"> {{question.question}}</li>
			<li class="answer" *ngFor="let answer of question.answers">{{answer.answer}}</li>
		</ul>
		<ul *ngFor="let question of questionsInvalid; let i = index;" [style.color]="'red'">
			<li class="question"> {{question.question}}</li>
			<li  class="answer" *ngFor="let answer of question.answers">{{answer.answer}}</li>
		</ul>
    </div>
  </div>
</div>
