@import '~src/assets/styles/_variables.scss';

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

//   .box { @include transform(rotate(30deg)); }
%form-group-style {
  padding: 10px 0;
}

%help-block-warning {
  font-size: 14px;
  color: red;
}

%btn-style {
  margin: 0 2px;
  border: none;
  color: $color-white;
  cursor: pointer;

  &.true {
    background-color: $color-green;

    &:hover {
      background-color: $color-dark-green;
    }
  }

  &.false {
    background-color: $color-orange;

    &:hover {
      background-color: $color-dark-red;
    }
  }
}

%btn-submit-style {
  width: 100%;
  margin-top: 40px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: $color-orange;
  border-radius: 5px;
  cursor: pointer;
  color: $color-white;

  &:disabled {
    background-color: grey;
    cursor: text;
  }
}

%input-style {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

%answer-style {
  .single-answer-holder {
    display: flex;
    align-items: center;
  }

  .answer-checkbox {
    flex-basis: 5%;
  }

  input,
  select {
    @extend %input-style;
  }

  .btn {
    @extend %btn-style;
  }
}
