@import '~src/assets/styles/_variables.scss';

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

%overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  min-height: 100vh;
  z-index: -1;
}

//   .box { @include transform(rotate(30deg)); }
%form-group-style {
  padding: 10px 0;
}

%help-block-warning {
  font-size: 14px;
  color: red;
}

%btn-style {
  margin: 0 2px;
  border: none;
  color: $color-white;
  cursor: pointer;

  &.true {
    background-color: $color-green;
  }

  &.false {
    background-color: $color-orange;
  }
}

%btn-submit-style {
  width: 100%;
  margin-top: 40px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: $color-orange;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  color: $color-white;

  &:disabled {
    background-color: grey;
    cursor: text;
  }
}

%input-style {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

%answer-style {
  .single-answer-holder {
    display: flex;
    align-items: center;
  }

  .answer-checkbox {
    flex-basis: 5%;
  }

  input,
  select {
    @extend %input-style;
  }

  .btn {
    @extend %btn-style;
  }
}

%drag-n-drop {
  list-style-type: none;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  background-color: $color-white;
  word-wrap: break-word;
  -webkit-box-shadow: 0px 0px 9px -4px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 0px 9px -4px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 0px 9px -4px rgba(0, 0, 0, 0.36);
  cursor: grab;
  cursor: -webkit-grab;
}

%headline-h3 {
  font-weight: bold;
  font-size: 2.3rem;
  text-transform: uppercase;
  color: $color-white;

  &.invert {
    color: $color-black;
  }
}

%headline-h4 {
  font-weight: bold;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: $color-black;

  &.grey {
    color: $color-grey-light;
  }

  &.invert {
    color: $color-black;
  }
}

%headline-h5 {
  margin: 40px 0 10px 0;
  font-weight: bold;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: $color-black;

  &.invert {
    color: $color-white;
  }
}
