$main-font: 'Roboto', sans-serif;

$color-orange: rgba(222, 65, 27, 1);
$color-white: #fff;
$color-green: #2f962f;
$color-dark-green: #1e841e;
$color-dark-red: #bf3412;
$color-grey: rgb(100, 102, 109);
$color-black: rgba(0, 0, 0, 1);
$color-grey-light: rgb(142, 145, 154);