<!-- <div [formGroup]='questionForm'>
  <div class="answer-holder">
    <div class="form-group">
      <label>
        Answer:
        <div class="single-answer-holder">
          <textarea formControlName="answer" rows="15"></textarea>
        </div>
      </label>
    </div>
  </div>
  <span *ngIf="questionForm.errors?.textFieldEmpty && questionForm.get('answer').touched" class="warning">Please type
    an answer!</span>
</div> -->
<h3>Please submit the question without an answer. Answer will be added dynamically by the user.</h3>

