@import '~src/assets/styles/_mixins.scss';

.answer-holder {
  @extend %answer-style;

  .form-group {
    padding: 10px 0;
  }

  textarea {
    width: 100%;
	outline: none;
	margin-top: 10px;
	padding: 10px;
  }
}
