@import '~src/assets/styles/_mixins.scss';

#answers-wrapper {
	width: 100%;
}

.single-answer-holder {
	display: flex;
	align-items: center;
}

.answer-holder {
	@extend %answer-holder-style;
}

.answer-checkbox {
	flex-basis: 5%;
}

.true-false-holder {
	display: flex;
}

input, select {
	@extend %input-style;
}

.form-group {
	@extend %form-group-style;
}

.btn {
	@extend %btn-style;
}