<div [formGroup]='questionForm'>
  <div class="answer-holder">
    <div formArrayName="answers" *ngFor="let item of questionForm.get('answers').controls; let i=index" id="answers-wrapper">
      <div [formGroupName]="i">
        <div class="form-group">
          <label>
            Answer {{i}}:
            <div class="single-answer-holder">
              <input formControlName="answer" />
              <input type="checkbox" formControlName="value" appTrueFalse trueValue="yes" falseValue="no" class="answer-checkbox">
            </div>
          </label>
        </div>
      </div>
      <button type="button" (click)="addAnswer(i)">Add Answer</button>
      <button type="button" (click)="deleteAnswer(i)">Delete Answer</button>
    </div>
    <span *ngIf="questionForm.errors?.checkboxValid" class="warning">Please check one true answer!</span>
  </div>
</div>
