@import '~src/assets/styles/_mixins.scss';
@import '~src/assets/styles/_variables.scss';

.answer-holder {
  @extend %answer-style;

  .form-group {
    padding: 10px 0;
  }
}

.btn {
  &.add {
    @extend %btn-submit-style;
	width: 35%;
	margin-top: 0;
	margin-right: 10px;
  }

  &.remove {
    @extend %btn-cancel-inverted;
    width: 35%;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
  }
}

